<div class="jumbotron" ng-show="bigCurrentPage == 1">
    <div class="container">
        <h1>Usman Saleem</h1>
        <p>Things I learn, observe and tryout...</p>
    </div>
</div>
<div class="container">
    <div class="page-header">
	<h1>Ramblings...</h1>
    </div>
</div>

<div class="alert alert-danger" ng-show="errorResponse">
    <strong>JSON Error: </strong>{{errorResponse}}
</div>

<div class="container">
<!-- Blog -->
        <section ng-repeat="blogItem in blogItems" readmore-directive>
            <div class="media">
                <div class="media-left">
                    <div class="date">
                        <span class="day">{{blogItem.createDay}}</span>
                        <span class="month">{{blogItem.createMonth}}</span>
                        <span class="year">{{blogItem.createYear}}</span>
                    </div>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">{{blogItem.title}}</h3>
                    <span ng-repeat="blogCat in blogItem.categories">
                      <span class="label label-default">{{blogCat.name}}</span>
                    </span>
                    <hr />
                    <article class="blog-body" id="blogID_{{blogItem.id}}">
                      <div ng-bind-html="blogItem.body"></div>
                    </article>
                    <br><br>
                </div>
            </div>
        </section>

        <div class="text-center">
            <uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" num-pages="numPages" class="pagination-sm" boundary-link-numbers="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged()"></uib-pagination>
        </div>
</div>

